@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

body {
	background-image: url("./assests/backg.jpg");
	text-align: center;
	margin: auto;
	line-height: 1.4em;
	font-size: 30px;
	color: brown;
}
nav {
	background-color: beige;
	font-family: "Dancing Script", cursive;
	opacity: 0.9;
}
.mainsogan {
	font-family: "Dancing Script", cursive;
	font-weight: bolder;
}
footer h4 {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
}
footer {
	border: 3px solid brown;
	color: brown;
}
.addflexhere {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list {
	font-family: "Dancing Script", cursive;
	text-align: center;
	font-size: 45px;
	color: brown;
}
.booklist h1 {
	font-family: "Dancing Script", cursive;
}
.addgridhere {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 0.2fr);
	justify-content: end;
	align-items: end;
	column-gap: 60px;
	row-gap: 5px;
	color: brown;
}
.topbutton {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	color: white;
	width: fit-content;
	background-color: lightblue;
	padding: 15px;
	border-radius: 10px;
	margin-left: auto;
	opacity: 0.7;
}
.topbutton a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}
.bottombutton {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	color: white;
	width: fit-content;
	background-color: lightblue;
	padding: 15px;
	border-radius: 10px;
	opacity: 0.7;
	z-index: 1;
}
.bottombutton a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}
@media only screen and (max-width: 1260px) {
	.addgridhere {
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(4, 0.2fr);
		justify-content: start;
	}
}
@media only screen and (max-width: 997px) {
	.addgridhere {
		grid-template-rows: repeat(9, 1fr);
		grid-template-columns: repeat(3, 0.2fr);
	}
}
@media only screen and (max-width: 746px) {
	.addgridhere {
		grid-template-rows: repeat(13, 1fr);
		grid-template-columns: repeat(2, 0.2fr);
	}
}
@media only screen and (max-width: 486px) {
	.addgridhere {
		grid-template-rows: auto;
		grid-template-columns: auto;
	}
}
@media screen and (max-width: 828px) {
	.addflexhere {
		flex-direction: column;
	}
}
