@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

body {
	background-image: url("./assests/backg.jpg");
	text-align: center;
	margin: auto;
	line-height: 1.4em;
	font-size: 30px;
	color: brown;
}
nav {
	background-color: beige;
	font-family: "Dancing Script", cursive;
	opacity: 0.9;
}
.mainsogan {
	font-family: "Dancing Script", cursive;
	font-weight: bolder;
}
footer h4 {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
}
footer {
	border: 3px solid black;
}
.addflexhere {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.peoples {
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 4vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	column-gap: 5vw;
	row-gap: 2vw;
}
.people {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
}
@media only screen and (max-width: 1072px) {
	.peoples {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}
}
@media only screen and (max-width: 668px) {
	.peoples {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(11, 1fr);
	}
}
@media only screen and (max-width: 324px) {
	.peoples {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(11, 1fr);
	}
	.people img {
		width: 100%;
		height: auto;
	}
}
