@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
body {
	background-image: url("./backg.jpg");
	text-align: center;
	margin: auto;
	line-height: 1.4em;
	font-size: 30px;
	color: brown;
}
nav {
	background-color: beige;
	font-family: "Dancing Script", cursive;
	opacity: 0.9;
}
.mainlogo {
	margin-left: auto;
	margin-right: auto;
}
.mainsogan {
	font-family: "Dancing Script", cursive;
	font-weight: bolder;
}
.booksmainsec {
	font-family: "Dancing Script", cursive;
	color: brown;
}
footer h4 {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
}
